// variables

// main-colors
$color-background: #EFF6FF;

$color-button-fb: #255A9B;
$color-button-in: #0076B6;
$color-primary: #3698FB;

$color-muted: #96A5B1;
$color-gray: #AFAFAF;
$color-light-gray: #EEEEEE;
$color-white: #FFFFFF;

// font-colors
$font-text-base: #2A4A5C;
$font-text-secondary: #7B8A92;
$font-text-white: #FFFFFF;

